* {margin: 0; padding: 0; box-sizing: border-box;}
body.no-scroll {overflow: hidden; height: 100%;}
/*=====header 영역=====*/
.header-wrap {display: flex; justify-content: space-between; width: 100%; padding: 20px 25px 0; position: absolute; top: 0; left: 0; z-index: 2;}
/*===header menu===*/
.header-navigation {width: 100%;}
.header-navigation__wrap {display: flex; width: 100%;}
/*==main_meun부분==*/
.header-navigation__wrap .link-name__menu {display: none;}
.header-navigation__wrap .navigation-link .link-name {display: flex; align-items: center; justify-content: center; height: 60px; padding: 0 20px; font-size: 18px; font-weight: 600; color: #fff; white-space: nowrap; }
.header-navigation__wrap .right {display: flex; justify-content: flex-end; width: 100%;}
.header-navigation__wrap .right .link-name {margin-left: auto; text-align: right;}
/*==sub_menu부분==*/
.header-navigation__wrap .link-name__menu .menu-top {min-height: 337px; padding: 40px 48px; border: 1px solid #dadbdc;}
.header-navigation__wrap .link-name__menu .menu-top .sub-menu__wrap {display: flex;}
.header-navigation__wrap .link-name__menu .menu-top .sub-menu__wrap .sub-menu__list {padding-right: 64px;}
.header-navigation__wrap .link-name__menu .menu-top .sub-menu__wrap .sub-menu__list .link {font-size: 18px; font-weight: 600; color: #05141f;}
.header-navigation__wrap .link-name__menu .menu-top .sub-menu__wrap .sub-menu__list .sub-menu__list2 {margin-top: 32px;}
.header-navigation__wrap .link-name__menu .menu-top .sub-menu__wrap .sub-menu__list .list2-link {display: flex; flex-direction: column;}
.header-navigation__wrap .link-name__menu .menu-top .sub-menu__wrap .sub-menu__list .list2-link .link2 {display: inline-block; position: relative; padding-right: 20px; width: auto; margin-top: 22px; color: #697278;}
.header-navigation__wrap .link-name__menu .menu-top .sub-menu__wrap .sub-menu__list .list2-link .link2:nth-child(1) {margin-top: 0;}
.header-navigation__wrap .link-name__menu .menu-top .sub-menu__wrap .sub-menu__list .list2-link .web-site::after {content: ""; width: 16px; height: 16px; position: absolute; right: 0; background-image: url("../img/icon/subnav_screen_icon.svg"); background-repeat: no-repeat; background-size: cover;}
.header-navigation__wrap .link-name__menu .menu-bottom {width: 100%; height: 72px; padding: 0 48px; background-color: #f8f8f8;}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link {display: flex; height: 100%;}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link .link-list1 {height: 100%;}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link .link {display: flex; align-items: center; height: 100%; padding: 0 32px 0 60px; position: relative;}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link .link-list1:nth-child(1) .link {padding: 0 32px 0 30px}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link .link-list1:nth-child(-n+3) .link::after {content: ""; height: 16px; width: 1px; position: absolute; right: 0; background-color: #d2d2d2;}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link .list1 {background: url("../img/icon/subnav_util_icon01.svg") no-repeat; background-position: 0 50%;}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link .list2 {background: url("../img/icon/subnav_util_icon02.svg") no-repeat; background-position: 15% 50%;}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link .list3 {background: url("../img/icon/subnav_util_icon03.svg") no-repeat; background-position: 20% 50%;}
.header-navigation__wrap .link-name__menu .menu-bottom .menu-bottom__link .list4 {background: url("../img/icon/subnav_util_icon04.svg") no-repeat; background-position: 15% 50%;}
.header-navigation__wrap .right .link-name__menu .menu-top {display: flex; justify-content: right;}
.header-navigation__wrap .right .link-name__menu .menu-top .sub-menu__wrap .sub-menu__list {padding: 0;}
/*작동*/
.header-wrap.on {background-color: #fff;}
.header-wrap.on .header-navigation__wrap .link-name {color: #05141f;}
.header-wrap.on .header-shortcut .lang .current-lang {color: #05141f;}
.header-wrap.on .header-shortcut .search .search-btn {color: #05141f;}
.header-wrap.on .header-shortcut .shortcut-wrap .login .login-link {color: #05141f;}
.header-navigation__wrap .link-name.active {border-bottom: 2px solid #05141f;}
.header-navigation__wrap .link-name__menu.active {display: flex; flex-direction: column; width: 100%; position: absolute; left: 0; background-color: #fff; border-top: 1px solid #dadbdc;}
.header-navigation__wrap .right .link-name__menu.active {top: 80px;}
/*===short cut===*/
.header-shortcut {display: flex; justify-content: end;}
.header-shortcut .shortcut-wrap {display: flex; justify-content: center; align-items: center; width: 100%; white-space: nowrap;}
.header-shortcut .shortcut-wrap .lang .current-lang {position: relative; width: 70px; font-size: 16px; font-weight: 600; color: #fff; background: none; border: none; cursor: pointer;}
.header-shortcut .shortcut-wrap .lang .current-lang::after {position: absolute; top: 50%; right: 4px; transform: translateY(-50%); content: ""; width: 16px; height: 16px; background: url("../img/icon/ic_arow_donw_w.svg") no-repeat right / cover;}
.header-shortcut .shortcut-wrap .language .world-lang {display: none;}
.header-shortcut .shortcut-wrap .search {margin-left: 32px;}
.header-shortcut .shortcut-wrap .search .search-btn {font-size: 16px; font-weight: 600; color: #fff; background: repeat; border: none; cursor: pointer;}
.header-shortcut .shortcut-wrap .login {margin-left: 32px;}
.header-shortcut .shortcut-wrap .login .login-link {font-weight: 600; color: #fff;}
/*===header logo===*/
.header-logo {position: absolute; top: 25px; left: 50%; transform: translateX(-50%);}
.header-logo a {display: block; width: 102px; height: 56px; text-indent: -9999px; background: url("../img/logo_w.svg")no-repeat center /cover;}
/*모바일 nav 부분*/
.hamburger-nav {display: none; padding-left: 24px;}
.hamburger-btn {position: relative; display: flex; flex-direction: column; justify-content: space-around; width: 25px; background: repeat; border: 0; z-index: 10;}
.hamburger-btn.on .btn-line {background-color: #05141f; transition: all 0.3s;}
.hamburger-btn.on .btn-line:first-child {position: absolute; top: 50%; left: 0; transform: rotate(45deg);}
.hamburger-btn.on .btn-line:last-child {position: absolute; top: 50%; left: 0; transform: rotate(-45deg);}
.hamburger-btn .btn-line {display: block; width: 100%; height: 2px; background-color: #fff;}
.mo-nav {display: none; z-index: 5; overflow-y: hidden;}
.mo-nav.on {position: fixed; left: 0; top: 0; display: block; width: 100%; height: 100%; background-color: #fff;}
.mo-nav-list {flex: 1; padding-top: 85px;}
.header-shortcut .shortcut-wrap .search .search-btn.on {position: absolute; left: 20px; top: 20px; background: url("../img/icon/btn_search_board11.svg") no-repeat center / cover; z-index: 10;}
.mo-nav-item {margin-bottom: 24px;}
.item-link {display: flex; align-items: center; padding-left: 16px; font-size: 20px; font-weight: 600; line-height: 30px; color: #010e18;}
.item-link::after {content: ""; display: flex; width: 24px; height: 24px; margin-left: 8px; background: url("../img/icon/ic_arow_donw.svg") no-repeat center / cover;}
.mo-nav-item.on > .item-link::after {transform: rotate(180deg); transition: all 0.2s;}
.mo-nav-item:first-child > .item-link::after {background: none;}
.mo-sub-list {display: none; flex-direction: column; padding: 32px 16px; background-color: #f8f8f8;}
.mo-nav-item.on .mo-sub-list {display: flex;}
.mo-sub-list .mo-sub-item {margin-bottom: 24px;}
.mo-sub-list .mo-sub-item .sub-item-link {color: #05141f;}
.mo-sub-list .mo-sub-item:last-child {margin-bottom: 0;}
.mo-sub-item .more-link {display: flex; align-items: center;}
.mo-sub-item .more-link::after {content: ""; display: flex; width: 14px; height: 14px; margin-left: 8px; background: url("../img/icon/ic_arow_donw.svg") no-repeat center / cover;}
.mo-sub-item.on > .more-link::after {transform: rotate(180deg); transition: all 0.2s;}
.sub-list__2 {display: none;}
.mo-sub-item.on .sub-list__2 {display: flex; flex-direction: column; padding-top: 24px;}
.mo-sub-item.on .sub-list__2 .sub-item__2 {margin-bottom: 16px;}
.mo-sub-item.on .sub-list__2 .sub-item__2 .sub-item-link__2 {font-size: 14px; color: #697278;}
.mo-sub-item.on .sub-list__2 .sub-item__2 .sub-item-link__2::before {content: "-"; margin-right: 5px;}
.icon-website {display: flex; align-items: center;}
.icon-website::after {content: ""; width : 14px; height: 14px; margin-left: 5px; background: url("../img/icon/subnav_screen_icon.svg") no-repeat center / contain;}




.mo-nav-tab {display: flex; flex-direction: column; justify-content: flex-end;}
.mo-nav-wrap {display: flex; flex-direction: column; height: 100%;}
.mo-tab-list {display: flex; flex-wrap: wrap; background-color: #f8f8f8; border-top: 1px solid #dadbdc;}
.mo-tab-list .mo-tab-item {position: relative; display: flex; align-items: center; width: 50%; height: 55px; padding: 0 16px 0 56px;}
.mo-tab-list .mo-tab-item:nth-child(1), .mo-tab-list .mo-tab-item:nth-child(3) {border-right: 1px solid #dadbdc;}
.mo-tab-list .mo-tab-item:nth-child(3), .mo-tab-list .mo-tab-item:nth-child(4) {border-top: 1px solid #dadbdc;}
.mo-tab-list .mo-tab-item::before {content: ""; position: absolute; left: 18px; display: flex; width: 25px; height: 25px;}
.mo-tab-list .mo-tab-item:nth-child(1)::before {background: url("../img/icon/subnav_util_icon01.svg") no-repeat center / cover;}
.mo-tab-list .mo-tab-item:nth-child(2)::before {background: url("../img/icon/subnav_util_icon05.svg") no-repeat center / cover;}
.mo-tab-list .mo-tab-item:nth-child(3)::before {background: url("../img/icon/subnav_util_icon02.svg") no-repeat center / cover;}
.mo-tab-list .mo-tab-item:nth-child(4)::before {background: url("../img/icon/subnav_util_icon04.svg") no-repeat center / cover;}
.mo-tab-list .mo-tab-item .mo-tab-link {font-size: 14px; font-weight: 400; color: #37434b;}
.mo-nav-auth {background-color: #010e18;}
.mo-nav-auth .mo-auth {display: flex; justify-content: center; height: 96px;}
.mo-nav-auth .mo-auth .auth-tab {position: relative; display: flex; align-items: center; height: 100%;}
.mo-nav-auth .mo-auth .auth-tab:first-child::before {content: ""; position: absolute; right: 0; width: 1px; height: 14px; background-color: #fff;}
.mo-nav-auth .mo-auth .auth-tab .auth-link {padding: 10px 40px; color: #fff;}
@media (max-width: 1300px) {
    .header-navigation__wrap .navigation-link .link-name {padding: 0 12px;}
}
@media (max-width: 1120px) {
    .header-wrap {display: flex; justify-content: flex-end;}
    .header-navigation {display: none;}
    .header-logo {top: 0; left: 20px; transform: none;}
    .header-logo a {width: 70px; background-size: contain;}
    .login {display: none;}
    .hamburger-nav {display: flex; padding-left: 24px;}
    .hamburger-btn {display: flex; flex-direction: column; justify-content: space-around; width: 25px; background: repeat; border: 0;}
    .hamburger-btn .btn-line {display: block; width: 100%; height: 2px; background-color: #fff;}
    .header-shortcut .shortcut-wrap .search {margin-left: 24px;}
    .header-shortcut .shortcut-wrap .search .search-btn {text-indent: -9999px; width: 24px; background: url("../img/icon/icon_top_util_search.svg") no-repeat center / cover;}
    .header-shortcut .shortcut-wrap .lang .current-lang {text-indent: -9999px; width: 24px !important; height: 24px; background: url("../img/icon/ic_global_w.svg") no-repeat center / cover !important;}
    .header-shortcut .shortcut-wrap .lang .current-lang::after {display: none;}
}














/*===footer===*/
/*footer-top*/
.footer {background-color: #05141f;}
.footer-wrap .footer-top {display: flex; flex-direction: column; max-width: 1792px; padding: 64px 64px 40px; margin: 0 auto;}
.footer-wrap .footer-top .footer-top__logo {width: 102px;}
.footer-wrap .footer-top .footer-top__content {display: flex; justify-content: space-between; margin-top: 50px;}
.footer-wrap .footer-top .footer-top__content .content-left {display: flex;}
.footer-wrap .footer-top .footer-top__content .content-left .link__1 {margin-right: 250px;}
.footer-wrap .footer-top .footer-top__content .content-left .link__1 .link-list1 {margin-top: 24px;}
.footer-wrap .footer-top .footer-top__content .content-left .link__1 .link-list1:first-child {margin-top: 0;}
.footer-wrap .footer-top .footer-top__content .content-left .link__1 .link-list1 a {font-size: 16px; font-weight: 600; color: #fff;}
.footer-wrap .footer-top .footer-top__content .content-left .link__2 .link-list2 {margin-top: 10px;}
.footer-wrap .footer-top .footer-top__content .content-left .link__2 .link-list2:first-child {margin-top: 0;}
.footer-wrap .footer-top .footer-top__content .content-left .link__2 .link-list2 a {font-size: 14px; font-weight: 400; color: #79838b;}
.footer-wrap .footer-top .footer-top__content .content-right {display: flex;}
.footer-wrap .footer-top .footer-top__content .content-right .link-img {margin-left: 24px;}
.footer-wrap .footer-top .footer-top__content .content-right .link-img a {display: block; text-indent: -9999px; overflow: hidden;}
.footer-wrap .footer-link {display: flex; justify-content: space-between; align-items: center; max-width: 1790px; padding: 0 64px 24px; margin: 0 auto;}
.footer-wrap .footer-link .link-left a {display: flex; width: 100%; padding-right: 6px; color: #fff;}
.footer-wrap .footer-link .link-left a:before {content: ""; width: 16px; height: 16px; margin-right: 8px; background: url("../img/icon/icon_home_1.svg") no-repeat center / contain;}
.footer-wrap .footer-link .link-right {display: flex; align-items: center;}
.footer-wrap .footer-link .link-right .right-lang a {display: flex; color: #fff;}
.footer-wrap .footer-link .link-right .right-lang a:before {content: ""; width: 16px; height: 16px; margin-right: 10px; background: url("../img/icon/global_footer_kor.svg") no-repeat center / contain;}
.footer-wrap .footer-link .link-right .link {margin-left: 40px;}
.footer-wrap .footer-link .link-right .link .link-title button {display: flex; align-items: center; width: 270px; height: 48px; position: relative; padding: 16px 24px; background: #010e18; border: 1px solid #010e18; font-size: 16px; text-align: left; color: #fff; cursor: pointer;}
.footer-wrap .footer-link .link-right .link .link-title button::after {content: ""; width: 16px; height: 16px; position: absolute; right: 24px; background: url("../img/icon/ic_arow_donw_w.svg") no-repeat right / contain;}
.footer-wrap .footer-link .link-right .link .link-list {display: none;}
.mo-footer-tab {display: none;}
.mo-footer-tab .footer-sns .footer-btn {position: relative; display: flex; justify-content: left; width: 100%; padding: 16px; border: 0; background-color: transparent; color: #fff;}
.mo-footer-tab .footer-sns .footer-btn::after {content: ""; position: absolute; right: 16px; display: flex; width: 24px; height: 24px; background: url("../img/icon/ic_arow_donw_w.svg") no-repeat center / cover;}
.footer-sns .link-wrap {display: none; padding-left: 16px;}
.footer-sns .link-wrap .sns-tab {padding: 10px 20px;}
.footer-sns .link-wrap .sns-tab .sns-link {font-size: 14px; color: #79838b;}
.footer-sns .link-wrap .sns-tab .family-link {font-size: 14px; color: #79838b;}
.footer-sns.on .link-wrap {display: flex; flex-direction: column;}

/*footer content-right 이미지*/
.footer-wrap .footer-top .footer-top__content .content-right .link-img .members {width: 110px; height: 20px; background: url("../img/ic_kia_members.png") no-repeat center / contain;}
.footer-wrap .footer-top .footer-top__content .content-right .link-img .post {width: 20px; height: 20px;  background: url("../img/ic_post.png") no-repeat center / contain;}
.footer-wrap .footer-top .footer-top__content .content-right .link-img .facebook {width: 20px; height: 20px;  background: url("../img/ic_facebook.svg") no-repeat center / contain;}
.footer-wrap .footer-top .footer-top__content .content-right .link-img .instagram {width: 20px; height: 20px;  background: url("../img/ic_instagram.svg") no-repeat center / contain;}
.footer-wrap .footer-top .footer-top__content .content-right .link-img .youtube {width: 20px; height: 20px;  background: url("../img/ic_youtube.svg") no-repeat center / contain;}

/*footer-bottom*/
.footer-bottom {background-color: #010e18;}
.footer-bottom-contain {max-width: 1792px; padding: 40px 66px 24px; margin: 0 auto;}
.footer-bottom .footer-bottom__top {display: flex; justify-content: space-between;}
.footer-bottom .footer-bottom__top .copyright {font-size: 15px; color: #697278;}
.footer-bottom .footer-bottom__top .footer-bottom__link {display: flex;}
.footer-bottom .footer-bottom__top .footer-bottom__link .link-list .link {margin-left: 40px; font-size: 15px; color: #79838b;}

.footer-bottom .footer-award .award-list {display: flex; justify-content: space-between; margin-top: 42px;}
.footer-bottom .footer-award .award-list .list span {display: flex; line-height: 2; font-size: 12px; color: #697278;}
.footer-bottom .footer-award .award-list .list a {display: flex; line-height: 2; font-size: 12px; color: #697278;}
/*footer-bottom award이미지*/
.footer-bottom .footer-award .award-list .list1 span::before {content: ""; width: 29px; height: 19px; margin-right: 8px; background: url("../img/awards_nsci.png") no-repeat center / contain;}
.footer-bottom .footer-award .award-list .list2 span::before {content: ""; width: 29px; height: 19px; margin-right: 8px; background: url("../img/awards_ksqi-callcenter.png") no-repeat center / contain;}
.footer-bottom .footer-award .award-list .list3 span::before {content: ""; width: 29px; height: 19px; margin-right: 8px; background: url("../img/awards_ksqi-car.png") no-repeat center / contain;}
.footer-bottom .footer-award .award-list .list4 span::before {content: ""; width: 29px; height: 19px; margin-right: 8px; background: url("../img/awards-cnba.png") no-repeat center / contain;}
.footer-bottom .footer-award .award-list .list5 span::before {content: ""; width: 29px; height: 19px; margin-right: 8px; background: url("../img/awards_ks-sqi.png") no-repeat center / contain;}
.footer-bottom .footer-award .award-list .list6 a::before {content: ""; width: 29px; height: 19px; margin-right: 8px; background: url("../img/awards_wa.png") no-repeat center / contain;}
/*footer 모바일*/
.mo-footer-bottom {display: none;}
.policy-wrap {display: flex;}
@media (max-width: 1024px) {
    .footer-wrap .footer-top .footer-top__logo {width: 72px}
    .footer-wrap .footer-top .footer-top__content .content-left .link__1 {margin: auto;}
    .link__2 {display: none;}
    .footer-wrap .footer-top {padding: 38px 16px 0; border-bottom: none;}
    .footer-wrap .footer-top .footer-top__content .link__2 {display: none;}
    .footer-wrap .footer-top .footer-top__content .content-right {display: none;}
    .footer-wrap .footer-link {flex-direction: column; align-items: baseline; padding: 56px 0 0; border-top: 0;}
    .footer-wrap .footer-top .footer-top__content .content-left .link__1 .link-list1 a {font-size: 14px;}
    .footer-wrap .footer-link .link-right {display: none;}
    .footer-wrap .footer-link .link-left {padding-left: 16px; margin-bottom: 24px;}
    .mo-footer-tab {display: flex; flex-direction: column; width: 100%;}
    .footer-sns {width: 100%;}
    .footer-bottom {display: none;}
    .mo-footer-bottom {position: relative; display: flex; flex-direction: column; padding: 30px 0 60px; text-align: center;}
    .policy-wrap {display: flex; flex-wrap: wrap; max-width: 360px; padding: 20px 0; margin: 0 auto; text-align: center;}
    .policy-item {padding: 0 16px 0 5px; font-size: 12px;}
    .policy-item:first-child {width: 50%; padding: 0 16px 24px 0;} 
    .policy-item:nth-child(2) {width: 50%; padding: 0 16px 24px 0;}
    .policy-item .policy-link {color: #79838b;}
    .copyright {position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%);}
    .copyright-text {font-size: 12px; color: #79838b;}
}